<!DOCTYPE html>
<html>
<body style="background-color:PaleTurquoise;">
    <head>
        <!--specifies title of the page !-->
        <title>Assignments</title>
    <head>
    <body>
    <p><b>Assignments</b></p>
    <p>Homework1:</p>
    <ul>
        <li>Take in user name and return various data about the name</li>
        <li>Operations on lists</li>
    </ul>
    <p>Homework2:</p>
    <ul>
        <li>Projectile simulation taking into account the effect of change in gravity with changing amplitude </li>
        <li>Part 1 of Machine Learning Project: Take in csv file, parse it, return the dimensions of the data</li>
    </ul>
    <p>Homework3:</p>
    <ul>
        <li>Simulation of vertical percolation of water</li>
        <li>Part 2 of Machine Learning Project: Return number of benign/malignant entries, strip client identifier, split dataset into proportion to be used for testing and proportion to be used for training</li>
    </ul>
    <p>Homework4:</p>
    <ul>
        <li>Object oriented programming modeling a class including a teacher, students, and assignments</li>
        <ul>
            <li>Calculates assignment grades, teacher's pay, and return plots of class grade distributions</li>
        </ul>
    </ul>
    <p>Homework5:</p>
    <ul>
        <li>Part 3 of Machine Learning Project: Use Pandas to return advanced statistics on the data, use Seaborn to produce pairplots and heatmaps on the data, implement K nearest neighbors algorithm from scratch and using scikit-learn to train program to determine weather entry is malignant or benign</li>
    </ul>
    <p>Midterm:</p>
    <ul>
        <li>Take in three PPM images and filter out objects in the images that do not belong by comparing the three images and implementing a majority rules approach to find the correct pixel color</li>
        <li>Take in a color PPM image and convert it to black and white</li>
        <li>Take in a PPM image and flip it horizontally</li>
    </ul>
    <p>My favorite assignment was probably the midterm. I enjoyed the gratification of having actual image files of what my code produced. Like many assignments from this class, I also really liked how it was a real and practical application of python coding.</p>
    
    </body>
</html>
