<!DOCTYPE html>
<html>
<body style="background-color:LightGoldenRodYellow;">
    <head>
        <!--specifies title of the page !-->
        <title>Classes</title>
    <head>
    <body>
    <p>Classes of Spring 2020 Semester</p>
    <ul>
        <li>Discrete Mathematics</li>
        <li>Linear Algebra</li>
        <li>Introduction to East Asian Civilizations: China</li>
        <li>Introduction to Probability and Statistics</li>
        <li>Introductory Bio II: Cell Biology, Development, Physiology</li>
        <li>Introduction to Computing for Engineers</li>
    </ul>
    <p>My favorite class this semester was probably bio as I learned about many of the intricate systems of the human body. I also enjoyed this class though! In all fairness, it was probably my easiest class but I thoroughly enjoyed each assignment!</p>
    </body>
</html>