<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>Home</title>
    <head>
    <body>
    <p><b>Mei Tian</b></p>
    <img src="/static/photo.jpg" height= 400 width= 300>
    <p>Sophomore</p>
    <p>Computer Science, Pre-medical</p>
    <p>I don't really have a favorite website so here is a <a href= "https://www.healthy-liv.com/moms-almond-flour-banana-bread/">recipe</a> to the best banana bread I've ever made!</p>
    <a href= "/assignments">1006 Assignments</a>
    <a href= "/classes">Spring 2020 Classes</a>
    </body>
</html>

